[tema="dia"] {
  //Colores
  --primary-color: #{$diaPrimario};
  --secondary-color: #{$diaSecundario};
  --special-red: #{$diaRojo};
  --special-yellow: #{$diaAmarillo};
  --background-color: #{$diaFondo};
  --visibility-color: #{$diaRojo};
  //Imagenes
  --access-image: url(/src/assets/img/accesoDia.svg);
  --mode-image: url(/src/assets/img/modoDia.svg);
  --contact-image: url(/src/assets/img/contactoDia.svg);
  --right-wing: url(/src/assets/img/diaAlaDrc.svg);
  --left-wing: url(/src/assets/img/diaAlaIzq.svg);
  --google-image: url(/src/assets/img/googleDia.svg);
  --happy-kero: url(/src/assets/img/happyKeroDia.svg);
  --kero: url(/src/assets/img/keroDia.svg);
  --search-image: url(/src/assets/img/searchDia.svg);
  --twitter-image: url(/src/assets/img/twitterDia.svg);
  //Cartas
  --card-1: url(/src/assets/img/cards/S1.png);
  --card-2:url(/src/assets/img/cards/S2.png);
  --card-3:url(/src/assets/img/cards/S3.png);
  --card-4:url(/src/assets/img/cards/S4.png);
  --card-5:url(/src/assets/img/cards/S5.png);
  --card-6:url(/src/assets/img/cards/S6.png);
  --card-7:url(/src/assets/img/cards/S7.png);
  --card-8:url(/src/assets/img/cards/S8.png);
  --card-9:url(/src/assets/img/cards/S9.png);
  --card-10:url(/src/assets/img/cards/S10.png);
  --card-11:url(/src/assets/img/cards/S11.png);
  --card-12:url(/src/assets/img/cards/S12.png);
  --card-13:url(/src/assets/img/cards/S13.png);
  --card-14:url(/src/assets/img/cards/S14.png);
  --card-15:url(/src/assets/img/cards/S15.png);
  --card-16:url(/src/assets/img/cards/S16.png);
  --card-17:url(/src/assets/img/cards/S17.png);
  --card-18:url(/src/assets/img/cards/S18.png);
  --card-19:url(/src/assets/img/cards/S19.png);
}
