[tema="noche"] {
  //Colores
  --primary-color: #{$nochePrimario};
  --secondary-color: #{$nocheSecundario};
  --special-red: #{$nocheRojo};
  --special-yellow: #{$nocheAmarillo};
  --background-color: #{$nocheFondo};
  --visibility-color: #{$nocheAmarillo};
  //Imagenes
  --access-image: url(/src/assets/img/accesoNoche.svg);
  --mode-image: url(/src/assets/img/modoNoche.svg);
  --contact-image: url(/src/assets/img/contactoNoche.svg);
  --right-wing: url(/src/assets/img/nocheAlaDrc.svg);
  --left-wing: url(/src/assets/img/nocheAlaIzq.svg);
  --google-image: url(/src/assets/img/googleNoche.svg);
  --happy-kero: url(/src/assets/img/happyKeroNoche.svg);
  --kero: url(/src/assets/img/keroNoche.svg);
  --search-image: url(/src/assets/img/searchNoche.svg);
  --twitter-image: url(/src/assets/img/twitterNoche.svg);
   //Cartas
   --card-1: url(/src/assets/img/cards/C1.png);
   --card-2:url(/src/assets/img/cards/C2.png);
   --card-3:url(/src/assets/img/cards/C3.png);
   --card-4:url(/src/assets/img/cards/C4.png);
   --card-5:url(/src/assets/img/cards/C5.png);
   --card-6:url(/src/assets/img/cards/C6.png);
   --card-7:url(/src/assets/img/cards/C7.png);
   --card-8:url(/src/assets/img/cards/C8.png);
   --card-9:url(/src/assets/img/cards/C9.png);
   --card-10:url(/src/assets/img/cards/C10.png);
   --card-11:url(/src/assets/img/cards/C11.png);
   --card-12:url(/src/assets/img/cards/C12.png);
   --card-13:url(/src/assets/img/cards/C13.png);
   --card-14:url(/src/assets/img/cards/C14.png);
   --card-15:url(/src/assets/img/cards/C15.png);
   --card-16:url(/src/assets/img/cards/C16.png);
   --card-17:url(/src/assets/img/cards/C17.png);
   --card-18:url(/src/assets/img/cards/C18.png);
   --card-19:url(/src/assets/img/cards/C19.png);
}
