.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  justify-content: center;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.108);
  a {
    font-family: $antique;
    color: var(--visibility-color);
    text-decoration: underline;
    margin-left: auto;
    font-size: 0.8em;
  }
  &__btn {
    &_contacto {
      @include circle-button(4em);
      background: {
        image: var(--contact-image);
        size: 2.5em;
        repeat: no-repeat;
        position: center;
      }
      margin-right: 1em;
    }
    &_modo {
      @include circle-button(3em);
      background: {
        image: var(--mode-image);
        size: 3em;
        repeat: no-repeat;
        position: center;
      }
      margin-left: 1em;
    }
  }
}
