header {
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  img {
    padding: 0.5rem;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-height: 4em;
  }

  a {
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    width: auto;
    height: auto;
    max-height: 4em;
  }
  .buscador {
    width: 70em;
    height: 3em;
    background-color: var(--secondary-color);
    border-radius: 72px;
  }
}
