.listado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6em 0 6em 0;
  padding-left: auto;
  &__lista {
    max-height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
    &_producto {
      @include listado_cartas;
      &_nombre {
        flex-grow: 1;
      }
    }
  }
}
