.listado {
  margin-left: 0;
  .flex {
    max-height: 50%;
    display: flex; /* Make products flex in row direction (default) */
    flex-wrap: wrap; /* Make products overflow on new row */
    justify-content: center; /* Or space-between or space-around */

    section {
      flex: 1 1 0; /* Prevent the extra space around content */
      text-align: center; /* Align text on center */
      display: flex; /* Display as flex */
      flex-direction: column; /* Display flex in column */
      align-items: center; /* Align items on center */
      max-width: 200px; /* Set max-width so the last items will behave in a more traditional way */

      max-height: 25%;
      margin: 50;
      p {
        flex-grow: 1; /* Keep p's same size */
      }
    }
  }

  ul {
    display: flex; /* Display specs in flex-row */
    justify-content: space-between; /* Specs to start and end of row */
  }
}

.card-1 {
  background-image: var(--card-1);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.card-2 {
  background-image: var(--card-2);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}
.card-3 {
  background-image: var(--card-3);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.card-4 {
  background-image: var(--card-4);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.card-5 {
  background-image: var(--card-5);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.card-6 {
  background-image: var(--card-6);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.card-7 {
  background-image: var(--card-7);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}
.card-8 {
  background-image: var(--card-8);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.card-9 {
  background-image: var(--card-9);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}
.card-10 {
  background-image: var(--card-10);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  min-width: 15rem;
  min-height: 33rem;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

//Mobile
@media only screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
