*:focus-visible {
  outline: 2px dashed var(--visibility-color);
}

html {
  background-color: var(--background-color);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

main {
  padding-top: 0.5rem;
  margin-top: 8rem;
  margin-left: 10%;
  padding-bottom: 5em;
}

body {
  font-family: $mochiy;
  margin: 0;
  position: relative;
}

p {
  font-family: $maru;
  color: var(--special-red);
}

.subtitle {
  font-family: $antique;
  color: var(--special-red);
  padding-bottom: 1em;
}

img {
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: $mochiy;
  color: var(--secondary-color);
  font-size: 2em;
  padding-bottom: 1em;
}

.wrapper {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.uno {
  float: left;
  width: 50em;
}

.dos {
  overflow: hidden;
  float: right;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mobile-visible {
  display: none;
}

//Mobile
@media only screen and (max-width: 768px) {
  main {
    padding: 0.25rem;
    margin-top: 8rem;
    padding-bottom: 5rem;
    margin-left: 0;
  }

  .mobile-invisible {
    display: none !important; //TODO: Preguntar si es correcto (Falló sin ! en los inputs
  }
  .mobile-visible {
    display: block;
  }

  .wrapper {
    flex-direction: column;
    margin-left: 0;
  }
  .uno {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
  }

  #buscador {
    width: 80%;
    
  }

  .cardview {
    line-height: 2em;
  }
}

// 4k
@media only screen and (min-width:2240px){
  main {
    margin-left: 25%;
  }
}