.access {
  background-image: var(--access-image);
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  margin: 5%;
  font-size: 16px;
  cursor: pointer;
  width: 4em;
  height: 4em;
  min-height: 4em;
  min-width: 4em;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.cardview {
  background-image: var(--search-image);
  background-color: var(--secondary-color);
  background-size: contain;
  background-position: 99%;
  background-repeat: no-repeat;
  border-radius: 60px;
  font-family: $mochiy;
  font-size: 1.5em;
  line-height: 5em;
  padding: 0.5em 3em 0.5em 2em;
  text-align: center;
  color: var(--special-yellow);
  -webkit-text-stroke: 1.5px var(--special-red);
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

#modo {
  background-image: var(--mode-image);
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  min-width: 3em;
  min-height: 3em;
  margin: 5%;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.108);
}

.contacto {
  background-image: var(--contact-image);
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  min-width: 3em;
  min-height: 3em;
}
