.vista {
  margin: 4em 0 4em;
  &__skip {
    position: absolute;
    top: auto;
    overflow: hidden;
    width: 1px;
    height: 1px;
    &:focus {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 680px;
      font-size: 30px;
      color: #fff;
      background-color: #000;
      opacity: 0.8;
    }
  }
  &__galeria {
    display: grid;
    grid-template-columns: repeat(13, 50vw);
    grid-template-rows: 1.5vh;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    overflow: scroll;
    width: 100%;
    height: 75vh;
    padding: 1rem;
    scroll-snap-type: both mandatory;
    scroll-padding: 1rem;
    contain: layout;
    &_slide {
      display: flex;
      overflow-x: scroll;
      scrollbar-width: none;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scroll-snap-align: center;
      justify-content: space-around;
      border-radius: 3px;
      height: 70vh;
      &-item {
        position: relative;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-around;
        scroll-snap-align: start;
        transform-origin: center center;
        transition: transform 0.5s;
        &_content {
          display: flex;
          gap: 3%;
          flex-direction: row;
          align-items: center;
          @include carta(12rem);
          &_info {
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 3%;
            gap: 2vh;
            font-size: 2vh;
            color: var(--visibility-color);
            background-color: var(--primary-color);
            border-radius: 10px;
            p {
              color: var(--visibility-color);
            }
            &_btn-like {
              @include button;
              min-width: 3em;
              min-height: 3em;
              border: none;
              border-radius: 20px;
              background: {
                image: var(--kero);
                size: 3em;
                repeat: no-repeat;
                position: center;
              }
              &:active {
                background-image: var(--happy-kero);
              }
            }
          }
        }
      }
    }
  }
  &__nav {
    padding: 1.25rem 0.5rem;
    &_elemento {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.5rem;
      color: var(--visibility-color);
      background-color: var(--primary-color);
      border-radius: 50%;
      &:hover,
      &:active {
        background-color: var(--secondary-color);
        color: #fff;
      }
    }
  }
  //Mobile
  @media only screen and (max-width: 768px) {
    .vista {
      margin-bottom: 10em;
      &__galeria {
        margin: 10em 0 2em 0;
        height: 130vh;
        &_slide {
          height: 120vh;
          &-item_content {
            flex-direction: column;
            width: 100%;
            font-size: 1.5em;
            @include carta(14rem);
            &_info {
              margin-top: 5%;
            }
          }
        }
      }
    }
  }
}
